<h1>ユーザー情報編集</h1>
<%= form_for(@user, url: user_path(@user)) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password %>
    <%= f.label :password_confirmation, "パスワード（確認）" %>
    <%= f.password_field :password_confirmation %>
<%= f.submit "保存" %>
<% end %>   