<footer class="container-fluid">
  <div class="row">
    <div class="col-sm-6 logo">
        <%= image_tag 'logo/white_logo.png' %><span>© 2022 Kaguz Inc.</span>
    </div>
    <div class="col-sm-6 link">
      <ul class="row">
        <li class="link-container">
            <%= link_to 'Kaguzについて', '#' %>
            <%= link_to 'よくある質問', '#' %>
            <%= link_to 'お問い合わせ', '#' %>
            <%= link_to '掲載をご希望の工場様', '#' %>
        </li>
        <li class="link-container">
            <%= link_to '利用規約', '#' %>
            <%= link_to 'プライバシーポリシー', '#' %>
        </li>
      </ul>
    </div>  
  </div>
</footer>