<header class="navbar">
    <div class="nav-box">
        <a class="navbar-brand" href="#">LOGO</a>
    </div>
    <div class="nav-box">
        <% if logged_in? %>
        <div class="nav-item"><%= link_to current_user.name + "さん", mypage_path %></div>
        <div class="nav-item"><%= link_to "お知らせ", notifications_path %></div>
        <div class="nav-item"><%= link_to "ログアウト", logout_path, method: :delete %></div>
        <% else %>
        <div class="nav-item"><%= link_to "ログイン", login_path %></div>
        <div class="nav-item"><%= link_to "新規登録", signup_path %></div>
        <%= link_to "掲載を依頼する", signup_path, class: "nav-item partner" %>
        <% end %>
    </div>
</header>