<div class="home_sidebar">
    <h3>家具を探す</h3>
    <ul>
        <li>チェア・椅子（<%= "3,080" %>）</li>
        <li>ソファ（<%= "470" %>）</li>
        <li>テーブル（<%= "1,242" %>）</li>
        <li>デスク（<%= "52" %>）</li>
        <li>ベッド（<%= "158" %>）</li>
    </ul>
</div>