<div id='home'>
    <%= render 'home/header' %>
    <div class="home-eyecatch">

    </div>
    <div class='home-description'>
        <div class='home-description-title'>オーダー家具で、<br> 自分らしい暮らしをしよう</div>
        <div class='home-description-contents'>Kaguzではオーダー家具の発注をかんたんにできます。Kaguzではオーダー家具の発注をかんたんにできます。Kaguzではオーダー家具の発注をかんたんにできます。Kaguzではオーダー家具の発注をかんたんにできます。Kaguzではオーダー家具の発注をかんたんにできます。Kaguzではオーダー家具の発注をかんたんにできます。Kaguzではオーダー家具の発注をかんたんにできます。</div>
        <%= link_to 'Kaguzについてもっと知る', '#' %>
    </div>
    <div class="home-category">
        <% @categories_hash.each do |hash| %>
        <div><%= link_to hash.category_name, controller: "furnitures", action: "category_search", category_id: hash.category_id %>（<%= hash.category_count %>）</div>
        <% end %>
    </div>
    <div class="home-scene">
        <h2>利用シーンで選ぶ</h2>
        <div>
            <%= image_tag 'lp/img_bedroom.png'%>
            <div>寝室</div>
        </div>
        <div>
            <%= image_tag 'lp/img_kitchen.png'%>
            <div>キッチン・ダイニング</div>
        </div>
        <div>
            <%= image_tag 'lp/img_work.png'%>
            <div>仕事</div>
        </div>
        <div>
            <%= image_tag 'lp/img_living.png'%>
            <div>リビング</div>
        </div>
    </div>
    <div class="home-partner">
        <h2>利用シーンで選ぶ</h2>
        <div>
            <%= image_tag 'lp/img_partner.png'%>
            <h2>パートナー・工場募集</h2>
            <div>工場として発注を受けることもできます。</div>
            <%= link_to '詳細を見る', '#' %>
        </div>
    </div>
    <%= render 'shared/footer' %>
</div>