<div id='home'>
    <%= render 'home/header' %>
    <div class="home-eyecatch">

    </div>
    <div class='home-description'>
        <div class='home-description-title'>
            <p>オーダー家具で、<br> 自分らしい暮らしをしよう</p>
        </div>
        <div class='home-description-contents'>
            <p>Kaguzではオーダー家具の発注をかんたんにできます。Kaguzではオーダー家具の発注をかんたんにできます。Kaguzではオーダー家具の発注をかんたんにできます。Kaguzではオーダー家具の発注をかんたんにできます。Kaguzではオーダー家具の発注をかんたんにできます。Kaguzではオーダー家具の発注をかんたんにできます。Kaguzではオーダー家具の発注をかんたんにできます。</p>
            <div class="link-container">
                <%= link_to 'Kaguzについてもっと知る', '#' %>
            </div>
        </div>
    </div>
    <div class="home-category">
        <h2>カテゴリ</h2>
        <div class="category-containers">
            <div class="category-container">
                <%= image_tag 'lp/img_ctg_sofa.png' %>
                <div class="category-propatys">
                    <div class="category-name">ソファ・椅子</div>
                    <div class="category-counts">(120)</div>
                </div>
            </div>
            <div class="category-container">
                <%= image_tag 'lp/img_ctg_table.png' %>
                <div class="category-propatys">
                    <div class="category-name">テーブル</div>
                    <div class="category-counts">(120)</div>
                </div>
            </div>
            <div class="category-container">
                <%= image_tag 'lp/img_ctg_bed.png' %>
                <div class="category-propatys">
                    <div class="category-name">ベッド</div>
                    <div class="category-counts">(120)</div>
                </div>
            </div>
            <div class="category-container">
                <%= image_tag 'lp/img_ctg_cabi.png' %>
                <div class="category-propatys">
                    <div class="category-name">収納・キャビネット</div>
                    <div class="category-counts">(120)</div>
                </div>
            </div>
            <div class="category-container">
                <%= image_tag 'lp/img_ctg_door.png' %>
                <div class="category-propatys">
                    <div class="category-name">ドア</div>
                    <div class="category-counts">(120)</div>
                </div>
            </div>
                <div class="category-container">
                <%= image_tag 'lp/img_ctg_floor.png' %>
                <div class="category-propatys">
                    <div class="category-name">フローリング</div>
                    <div class="category-counts">(120)</div>
                </div>
            </div>
                <div class="category-container">
                <%= image_tag 'lp/img_ctg_towel.png' %>
                <div class="category-propatys">
                    <div class="category-name">タオル掛け</div>
                    <div class="category-counts">(120)</div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-scene">
        <h2>利用シーンで選ぶ</h2>
        <div class="scene-containers">
            <div class="scene-container">
                <%= image_tag 'lp/img_bedroom.png'%>
                <p>寝室</p>
            </div>
            <div class="scene-container">
                <%= image_tag 'lp/img_kitchen.png'%>
                <p>キッチン・ダイニング</p>
            </div>
            <div class="scene-container">
                <%= image_tag 'lp/img_work.png'%>
                <p>仕事</p>
            </div>
            <div class="scene-container">
                <%= image_tag 'lp/img_living.png'%>
                <p>リビング</p>
            </div>
        </div>
    </div>
    <div class="home-partner">
        <h2>利用シーンで選ぶ</h2>
        <div>
            <%= image_tag 'lp/img_partner.png'%>
            <h2>パートナー・工場募集</h2>
            <div>工場として発注を受けることもできます。</div>
            <%= link_to '詳細を見る', '#' %>
        </div>
    </div>
    <%= render 'shared/footer' %>
</div>