<div class="furnitures-sidebar">
    <div class="search-box category-search">
        <div class="head">
            <p><span class="bold">カテゴリー</span>からさがす</p>
        </div>
        <div class="body">
            <ul>
                <% @categories_hash.each do |hash| %>
                <li><%= link_to hash.category_name, controller: "furnitures", action: "category_search", category_id: hash.category_id %></li>
                <% end %>
            </ul>
        </div>
    </div>
    <div class="search-box detailed-search">
        <div class="head">
            <p><span class="bold">こだわりの条件</span>を指定する</p>
        </div>
        <div class="body">
            <%= form_with(url: furnitures_path, local: true, method: :get, class: "search-form") do |f| %>
            <div class="detailed-search-head">素材</div>
            <div class="detailed-search-body">
                <% @materials.each do |material| %>
                    <div class="material-item"><%= f.check_box :material %><p><%= material %></p></div>
                <% end %>
            </div>
            <div class="detailed-search-head">色</div>
            <div class="detailed-search-body">
                <% @colors_hash.each do |color| %>
                    <div class="color-item">
                        <%= f.check_box :color %>
                        <span class="<%= color[:klass] %>"></span>
                        <p><%= color[:name] %></p>
                    </div>
                <% end %>
            </div>
            <div class="detailed-search-head">サイズ</div>
            <div class="detailed-search-body">
                <div class="size-width">
                    <div class="size-head">幅（mm）</div>
                    <div class="size-body">
                        <%= f.text_field :size_width_from, class: "size-form", placeholder: "min" %>
                        <span>〜</span>
                        <%= f.text_field :size_width_to, class: "size-form", placeholder: "max" %>
                    </div>                
                </div>
                <div class="size-height">
                    <div class="size-head">高さ（mm）</div>
                    <div class="size-body">
                        <%= f.text_field :size_height_from, class: "size-form", placeholder: "min" %>
                        <span>〜</span>
                        <%= f.text_field :size_height_to, class: "size-form", placeholder: "max" %>
                    </div>                                
                </div>
                <div class="size-depth">
                    <div class="size-head">奥行き（mm）</div>
                    <div class="size-body">
                        <%= f.text_field :size_depth_from, class: "size-form", placeholder: "min" %>
                        <span>〜</span>
                        <%= f.text_field :size_depth_to, class: "size-form", placeholder: "max" %>
                    </div>                                
                </div>
            </div>
            <%= f.submit "絞り込み", class: "search-btn" %>
            <% end %>
        </div>
    </div>
</div>