<div class="furnitures">
    <% breadcrumb :furnitures_search %>
    <%= breadcrumbs separator: " &rsaquo; " %>
    <div class="title">
        <h1>チェア・椅子</h1>
    </div>
    <div class="main">
        <%= render 'sidebar' %>
        <div class="contents">
            <div class="keyword-search">
                <%= form_with(url: furnitures_path, local: true, method: :get, class: "search-form") do |f| %>
                <%= f.text_field :keyword, placeholder: 'キーワード', class: 'input-box' %>
                <div class="search-button">
                    <%= image_submit_tag("icon/furnitures/search_white_icon.png", class: 'submit') %>
                </div>
                <% end %>
            </div>
            <div class="contents-head">
                <div class="item-counts">1~24 件を表示</div>
                <div class="item-sort">
                    <div class="item-sort-recomend current-sort">おすすめ順</div>
                    <div class="item-sort-new">新着順</div>
                    <div class="item-sort-popularity">人気順</div>
                </div>
            </div>
            <div class="contents-body"></div>
        </div>
    </div>

</div>