<div class="furnitures furnitures_show">
    <% breadcrumb :furnitures_show %>
    <%= breadcrumbs separator: " &rsaquo; " %>
    <div class="contents">
        <div class="main-content">
            <% if @furniture.image.present? %>
            <%= image_tag @furniture.image_url, class: "main-image" %>
            <% else %>
            <%= image_tag "https://placehold.jp/627x437.png", class: "main-image" %>
            <% end %>
            <div class="sub-images">
                <% for i in 1..4 do %>
                <img src="https://placehold.jp/92x64.png" class="sub-image">                    
                <% end %>
            </div>
        </div>
        <div class="sub-content">
            <div class="label-category">
                <%= image_tag "icon/category-icon.png", class: "label-category-icon" %>
                <p class="label-category-name">収納家具</p>
            </div>
            <div class="label-tag">
                <%= image_tag "icon/tag-icon.png", class: "label-tag-icon" %>
                <div class="label-tag-name">本体品合板</div>
                <div class="label-tag-name">盆</div>
                <div class="label-tag-name">桐集成材</div>
            </div>
            <div class="label-title">
                <div class="label-title-name">K邸 和服専用収納</div>
            </div>
            <div class="label-like">
                <p class="text">お気に入り登録者数</p>
                <div class="label-like-counts">120人</div>
            </div>
            <div class="label-reference_price">
                <p class="text">参考価格</p>
                <div class="label-reference_price-value">¥ 300,000~</div>
            </div>
            <div class="label-message">
                <div class="label-message-value">注意事項とか<br>制作日数は、ヒアリングから3〜6ヶ月頂戴しております。</div>
            </div>
            <div class="label-status">
                <div class="label-status-value">
                    <% status = 1%>
                    <% if status == 1 then %>
                    <span class="status-message1">対応可能</span><span class="status-message2">（2~3営業日以内に返信）</span>
                    <% else %>
                    <span class="status-message1">対応不可</span><span class="status-message2"></span>
                    <% end %>
                    <a class="inquiry" href="#">問い合わせる</a><%= image_tag "icon/like.png"%>
                </div>
            </div>
        </div>
    </div>

</div>