<!DOCTYPE html>
<html>
  <head>
    <title>Kaguz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'bootstrap' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= render partial: 'shared/flash' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
