<!DOCTYPE html>
<html>
  <head>
    <title>Kaguz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body> 
    <header>
        <h1>Kaguz</h1>
        <hr>
    </header>
    <%= yield %>
    <footer>
        <hr>
        <h3>create by Kaguz</h3>
    </footer>
  </body>
</html>
